In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('../Common Datasets/merged_df.csv')

In [3]:
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,Y
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,Y
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96,Y
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96,Y
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96,Y
...,...,...,...,...,...,...,...,...,...,...
2455718,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,N
2455719,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98,N
2455720,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98,N
2455721,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98,N
2455722,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96,N

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455723 entries, 0 to 2455722
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   PURCHASE_DATE    object
 1   MAGIC_KEY        object
 2   BOX_ID           float64
 3   BOX_COUNT        float64
 4   QUALITY          object
 5   DELIVERY_OPTION  object
 6   MILK             float64
 7   MEAT             float64
 8   UNIT_PRICE       float64
 9   PURCHASE         object
dtypes: float64(5), object(5)
memory usage: 187.4+ MB

In [5]:
df['PURCHASE_DATE'] = pd.to_datetime(df['PURCHASE_DATE'])
df = df.drop(columns = ['PURCHASE'])
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
2455718,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2455719,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98
2455720,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98
2455721,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98
2455722,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96

# <font color="red">We need to create a new datasets with customer behaviour</font>

In [6]:
df_customer = pd.read_csv('../Common Datasets/df_customer_all.csv')

In [7]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274087 entries, 0 to 1274086
Data columns (total 11 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   MAGIC_KEY                1274087 non-null  object
 1   PURCHASE_COUNT           1274087 non-null  int64
 2   TOTAL_AMOUNT_SPENT       1274087 non-null  float64
 3   LAST_PURCHASE_DATE       1274087 non-null  object
 4   DAY_SINCE_LAST_PURCHASE  1274087 non-null  object
 5   AVERAGE_DIFF             1274087 non-null  object
 6   10_2018_FIRST_15         1274087 non-null  int64
 7   11_2018_FIRST_15         1274087 non-null  int64
 8   12_2018_FIRST_15         1274087 non-null  int64
 9   1_2019_FIRST_15          1274087 non-null  int64
 10  2_2019_FIRST_15          1274087 non-null  int64
dtypes: float64(1), int64(6), object(4)
memory usage: 106.9+ MB

In [8]:
df_customer['LAST_PURCHASE_DATE'] = pd.to_datetime(df_customer['LAST_PURCHASE_DATE'])
df_customer['DAY_SINCE_LAST_PURCHASE'] = pd.to_timedelta(df_customer['DAY_SINCE_LAST_PURCHASE'])
df_customer['AVERAGE_DIFF'] = pd.to_timedelta(df_customer['AVERAGE_DIFF'])

In [9]:
df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0,1,0,0,1
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1,0,0,0,0
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0,0,0,0,0
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0,0,0,0,0
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1274082,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0,0,0,0,1
1274083,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0,0,0,0,0
1274084,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0,0,0,0,0
1274085,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1,0,0,0,1
1274086,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0,0,0,0,0

In [10]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274087 entries, 0 to 1274086
Data columns (total 11 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   MAGIC_KEY                1274087 non-null  object
 1   PURCHASE_COUNT           1274087 non-null  int64
 2   TOTAL_AMOUNT_SPENT       1274087 non-null  float64
 3   LAST_PURCHASE_DATE       1274087 non-null  datetime64[ns]
 4   DAY_SINCE_LAST_PURCHASE  1274087 non-null  timedelta64[ns]
 5   AVERAGE_DIFF             1274087 non-null  timedelta64[ns]
 6   10_2018_FIRST_15         1274087 non-null  int64
 7   11_2018_FIRST_15         1274087 non-null  int64
 8   12_2018_FIRST_15         1274087 non-null  int64
 9   1_2019_FIRST_15          1274087 non-null  int64
 10  2_2019_FIRST_15          1274087 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(1), timedelta64[ns](2)
memory usage: 106.9+ MB

In [11]:
df_customer.describe()

,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15
count,1.274087e+06,1.274087e+06,1274087,1274087,1274087,1.274087e+06,1.274087e+06,1.274087e+06,1.274087e+06,1.274087e+06
mean,1.927437e+00,3.399961e+01,2019-01-07 19:54:36.858488576,52 days 04:05:23.141512313,17 days 20:08:27.532807059,1.720730e-01,1.775044e-01,1.750171e-01,2.084214e-01,2.309827e-01
min,1.000000e+00,5.560000e+00,2018-10-01 00:00:00,1 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,1.596000e+01,2018-12-06 00:00:00,15 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000e+00,2.398000e+01,2019-01-23 00:00:00,37 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+00,4.788000e+01,2019-02-14 00:00:00,85 days 00:00:00,31 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,4.000000e+01,5.745600e+02,2019-02-28 00:00:00,151 days 00:00:00,150 days 00:00:00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
std,1.411799e+00,2.695334e+01,NaN,44 days 07:48:00.875529724,25 days 02:40:52.977985959,3.774440e-01,3.820951e-01,3.799819e-01,4.061798e-01,4.214615e-01

In [12]:
# Calculate the mode of BOX_ID for each MAGIC_KEY across the entire purchase history
mode_box_id = df.groupby('MAGIC_KEY')['BOX_ID'].agg(lambda x: x.mode().iloc[0]).reset_index()

# Merge with df_customer DataFrame on 'MAGIC_KEY' for each MODE_BOX_ID column
df_customer = pd.merge(df_customer, mode_box_id, on='MAGIC_KEY', how='left')

# Rename the columns
df_customer.rename(columns={'BOX_ID': 'MODE_BOX_ID'}, inplace=True)

df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15,MODE_BOX_ID
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0,1,0,0,1,231.0
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1,0,0,0,0,260.0
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0,0,0,0,0,27.0
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0,0,0,0,0,246.0
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1,1,0,0,0,255.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1274082,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0,0,0,0,1,126.0
1274083,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0,0,0,0,0,76.0
1274084,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0,0,0,0,0,144.0
1274085,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1,0,0,0,1,258.0
1274086,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0,0,0,0,0,78.0

In [13]:
# Filter the DataFrame to include only dates in the first 15 days of October 2018
october_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2018) & 
                          (df['PURCHASE_DATE'].dt.month == 10) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

november_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2018) & 
                          (df['PURCHASE_DATE'].dt.month == 11) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

december_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2018) & 
                          (df['PURCHASE_DATE'].dt.month == 12) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

january_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2019) & 
                          (df['PURCHASE_DATE'].dt.month == 1) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

february_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2019) & 
                          (df['PURCHASE_DATE'].dt.month == 2) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

In [14]:
# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_october_first_15 = october_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_october_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_10_2018_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_november_first_15 = november_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_november_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_11_2018_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_december_first_15 = december_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_december_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_12_2018_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_january_first_15 = january_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_january_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_1_2019_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_february_first_15 = february_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_february_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_2_2019_FIRST_15']


df_customer = pd.merge(df_customer, total_purchase_october_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_november_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_december_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_january_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_february_first_15, on='MAGIC_KEY', how='left')

df_customer['T_PURCHASE_10_2018_FIRST_15'] = df_customer['T_PURCHASE_10_2018_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_11_2018_FIRST_15'] = df_customer['T_PURCHASE_11_2018_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_12_2018_FIRST_15'] = df_customer['T_PURCHASE_12_2018_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_1_2019_FIRST_15'] = df_customer['T_PURCHASE_1_2019_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_2_2019_FIRST_15'] = df_customer['T_PURCHASE_2_2019_FIRST_15'].fillna(0)

df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15,MODE_BOX_ID,T_PURCHASE_10_2018_FIRST_15,T_PURCHASE_11_2018_FIRST_15,T_PURCHASE_12_2018_FIRST_15,T_PURCHASE_1_2019_FIRST_15,T_PURCHASE_2_2019_FIRST_15
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0,1,0,0,1,231.0,0.0,1.0,0.0,0.0,1.0
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1,0,0,0,0,260.0,1.0,0.0,0.0,0.0,0.0
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0,0,0,0,0,27.0,0.0,0.0,0.0,0.0,0.0
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0,0,0,0,0,246.0,0.0,0.0,0.0,0.0,0.0
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1,1,0,0,0,255.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274082,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0,0,0,0,1,126.0,0.0,0.0,0.0,0.0,1.0
1274083,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0,0,0,0,0,76.0,0.0,0.0,0.0,0.0,0.0
1274084,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0,0,0,0,0,144.0,0.0,0.0,0.0,0.0,0.0
1274085,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1,0,0,0,1,258.0,1.0,0.0,0.0,0.0,1.0
1274086,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0,0,0,0,0,78.0,0.0,0.0,0.0,0.0,0.0

In [15]:
most_purchase_box_october_first_15 = october_first_15_df.groupby('MAGIC_KEY')['BOX_ID'].agg(lambda x: x.mode().iloc[0]).reset_index()
most_purchase_box_october_first_15.columns = ['MAGIC_KEY', 'MODE_BOX_ID_10_2018_FIRST_15']

most_purchase_box_november_first_15 = november_first_15_df.groupby('MAGIC_KEY')['BOX_ID'].agg(lambda x: x.mode().iloc[0]).reset_index()
most_purchase_box_november_first_15.columns = ['MAGIC_KEY', 'MODE_BOX_ID_11_2018_FIRST_15']

most_purchase_box_december_first_15 = december_first_15_df.groupby('MAGIC_KEY')['BOX_ID'].agg(lambda x: x.mode().iloc[0]).reset_index()
most_purchase_box_december_first_15.columns = ['MAGIC_KEY', 'MODE_BOX_ID_12_2018_FIRST_15']

most_purchase_box_january_first_15 = january_first_15_df.groupby('MAGIC_KEY')['BOX_ID'].agg(lambda x: x.mode().iloc[0]).reset_index()
most_purchase_box_january_first_15.columns = ['MAGIC_KEY', 'MODE_BOX_ID_1_2019_FIRST_15']

most_purchase_box_february_first_15 = february_first_15_df.groupby('MAGIC_KEY')['BOX_ID'].agg(lambda x: x.mode().iloc[0]).reset_index()
most_purchase_box_february_first_15.columns = ['MAGIC_KEY', 'MODE_BOX_ID_2_2019_FIRST_15']

df_customer = pd.merge(df_customer, most_purchase_box_october_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, most_purchase_box_november_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, most_purchase_box_december_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, most_purchase_box_january_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, most_purchase_box_february_first_15, on='MAGIC_KEY', how='left')

#customer that not purchase in first 15 will be filled by the mode of entire history
df_customer['MODE_BOX_ID_10_2018_FIRST_15'] = df_customer['MODE_BOX_ID_10_2018_FIRST_15'].fillna(df_customer['MODE_BOX_ID'])
df_customer['MODE_BOX_ID_11_2018_FIRST_15'] = df_customer['MODE_BOX_ID_11_2018_FIRST_15'].fillna(df_customer['MODE_BOX_ID'])
df_customer['MODE_BOX_ID_12_2018_FIRST_15'] = df_customer['MODE_BOX_ID_12_2018_FIRST_15'].fillna(df_customer['MODE_BOX_ID'])
df_customer['MODE_BOX_ID_1_2019_FIRST_15'] = df_customer['MODE_BOX_ID_1_2019_FIRST_15'].fillna(df_customer['MODE_BOX_ID'])
df_customer['MODE_BOX_ID_2_2019_FIRST_15'] = df_customer['MODE_BOX_ID_2_2019_FIRST_15'].fillna(df_customer['MODE_BOX_ID'])

df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,...,T_PURCHASE_10_2018_FIRST_15,T_PURCHASE_11_2018_FIRST_15,T_PURCHASE_12_2018_FIRST_15,T_PURCHASE_1_2019_FIRST_15,T_PURCHASE_2_2019_FIRST_15,MODE_BOX_ID_10_2018_FIRST_15,MODE_BOX_ID_11_2018_FIRST_15,MODE_BOX_ID_12_2018_FIRST_15,MODE_BOX_ID_1_2019_FIRST_15,MODE_BOX_ID_2_2019_FIRST_15
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0,1,0,0,...,0.0,1.0,0.0,0.0,1.0,231.0,245.0,231.0,231.0,231.0
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1,0,0,0,...,1.0,0.0,0.0,0.0,0.0,260.0,260.0,260.0,260.0,260.0
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,27.0,27.0,27.0,27.0,27.0
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,246.0,246.0,246.0,246.0,246.0
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1,1,0,0,...,1.0,1.0,0.0,0.0,0.0,260.0,255.0,255.0,255.0,255.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274082,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,126.0,126.0,126.0,126.0,126.0
1274083,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,76.0,76.0,76.0,76.0,76.0
1274084,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,144.0,144.0,144.0,144.0,144.0
1274085,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1,0,0,0,...,1.0,0.0,0.0,0.0,1.0,260.0,258.0,258.0,258.0,258.0
1274086,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,78.0,78.0,78.0,78.0,78.0

In [16]:
df_customer['MODE_BOX_ID_2_2019_FIRST_15'].nunique()

263

In [17]:
df_customer.to_csv("train_final.csv", index=False)  # Save test data