In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/merged_df.csv')
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,Y
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,Y
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96,Y
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96,Y
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96,Y
...,...,...,...,...,...,...,...,...,...,...
2455718,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,N
2455719,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98,N
2455720,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98,N
2455721,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98,N
2455722,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96,N

In [3]:
df = df.drop(columns = ['PURCHASE'])
df = df.drop(columns = ['PURCHASE_DATE'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455723 entries, 0 to 2455722
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   MAGIC_KEY        object
 1   BOX_ID           float64
 2   BOX_COUNT        float64
 3   QUALITY          object
 4   DELIVERY_OPTION  object
 5   MILK             float64
 6   MEAT             float64
 7   UNIT_PRICE       float64
dtypes: float64(5), object(3)
memory usage: 149.9+ MB

In [5]:
# Group by 'MAGIC_KEY' and calculate mode of 'BOX_ID' and mean of 'BOX_COUNT'
new_df = df.groupby('MAGIC_KEY').agg({'BOX_ID': lambda x: x.mode().iloc[0], 'BOX_COUNT': 'mean'}).reset_index()

# Convert 'BOX_COUNT' mean to integer
new_df['BOX_COUNT'] = new_df['BOX_COUNT'].astype(int)

# Display the new DataFrame
print(new_df)

           MAGIC_KEY  BOX_ID  BOX_COUNT
0        249670911D8   231.0          1
1        249751FC4DD   260.0          1
2        24978027606    27.0          1
3        24979164422   246.0          1
4        2497B8B4FDA   255.0          1
...              ...     ...        ...
1274082  2E6F72C6F1C   126.0          1
1274083  2E6F8194908    76.0          1
1274084  2E6F9C7B9B4   144.0          1
1274085  2E6FB0EBB32   258.0          1
1274086  2E6FBE224FA    78.0          1

[1274087 rows x 3 columns]

In [6]:
new_df

           MAGIC_KEY  BOX_ID  BOX_COUNT
0        249670911D8   231.0          1
1        249751FC4DD   260.0          1
2        24978027606    27.0          1
3        24979164422   246.0          1
4        2497B8B4FDA   255.0          1
...              ...     ...        ...
1274082  2E6F72C6F1C   126.0          1
1274083  2E6F8194908    76.0          1
1274084  2E6F9C7B9B4   144.0          1
1274085  2E6FB0EBB32   258.0          1
1274086  2E6FBE224FA    78.0          1

[1274087 rows x 3 columns]

In [7]:
new_df.describe()

             BOX_ID     BOX_COUNT
count  1.274087e+06  1.274087e+06
mean   1.452858e+02  1.000580e+00
std    7.302610e+01  2.936397e-02
min    1.000000e+00  1.000000e+00
25%    9.400000e+01  1.000000e+00
50%    1.430000e+02  1.000000e+00
75%    2.050000e+02  1.000000e+00
max    2.900000e+02  1.200000e+01

In [8]:
boxes = pd.read_csv('Datasets/boxes.csv')
boxes

     BOX_ID   QUALITY                  DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0         1   Premium              Home Delivery - CoD   0.0   2.7        9.96
1         2   Premium              Home Delivery - CoD   0.0   2.3       11.96
2         3   Premium              Home Delivery - CoD   0.0   2.4       11.96
3         4   Premium              Home Delivery - CoD   0.0   2.5       11.96
4         5   Premium              Home Delivery - CoD   0.0   2.6       11.96
..      ...       ...                              ...   ...   ...         ...
285     286  Standard  Home Delivery - Digital Payment   0.0   4.0       15.96
286     287  Standard  Home Delivery - Digital Payment   0.0   2.9       15.96
287     288  Standard  Home Delivery - Digital Payment   0.0   3.6       15.96
288     289  Standard  Home Delivery - Digital Payment   0.0   4.7       15.96
289     290  Standard  Home Delivery - Digital Payment  12.0   1.8       19.98

[290 rows x 6 columns]

In [9]:
merged_df = pd.merge(boxes, new_df, on = 'BOX_ID', how = 'inner')
merged_df

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,MAGIC_KEY,BOX_COUNT
0,1,Premium,Home Delivery - CoD,0.0,2.7,9.96,2C88D36D1FC,1
1,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2BC4127366C,1
2,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2BC4394CE95,1
3,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2BC4D37C804,1
4,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2BC4EA26F92,1
...,...,...,...,...,...,...,...,...
1274082,288,Standard,Home Delivery - Digital Payment,0.0,3.6,15.96,293C58DD9DC,1
1274083,288,Standard,Home Delivery - Digital Payment,0.0,3.6,15.96,29E6A06C99B,1
1274084,288,Standard,Home Delivery - Digital Payment,0.0,3.6,15.96,2A0CABFA0DF,1
1274085,290,Standard,Home Delivery - Digital Payment,12.0,1.8,19.98,28F675D813E,1
1274086,290,Standard,Home Delivery - Digital Payment,12.0,1.8,19.98,28FF7857D43,1

In [10]:
merged_df.to_csv("main_data.csv", index=False)  # Save test data