In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/train_df.csv')
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE
0,2019-01-01,2BE4ABE1D99,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
1,2019-01-01,2BF0F5D1852,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
2,2019-01-01,2CA3A78FEA9,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
3,2019-01-01,2C2A89A5F22,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
4,2019-01-01,2C586661A56,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
...,...,...,...,...,...,...,...,...,...,...
1867901,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,N
1867902,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98,N
1867903,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98,N
1867904,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98,N
1867905,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96,N

In [3]:
df = df.drop(columns = ['PURCHASE'])
df = df.drop(columns = ['PURCHASE_DATE'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867906 entries, 0 to 1867905
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   MAGIC_KEY        object
 1   BOX_ID           float64
 2   BOX_COUNT        float64
 3   QUALITY          object
 4   DELIVERY_OPTION  object
 5   MILK             float64
 6   MEAT             float64
 7   UNIT_PRICE       float64
dtypes: float64(5), object(3)
memory usage: 114.0+ MB

In [5]:
# Group by 'MAGIC_KEY' and calculate mode of 'BOX_ID' and mean of 'BOX_COUNT'
new_df = df.groupby('MAGIC_KEY').agg({'BOX_ID': lambda x: x.mode().iloc[0], 'BOX_COUNT': 'mean'}).reset_index()

# Convert 'BOX_COUNT' mean to integer
new_df['BOX_COUNT'] = new_df['BOX_COUNT'].astype(int)

# Display the new DataFrame
print(new_df)

           MAGIC_KEY  BOX_ID  BOX_COUNT
0        249670911D8   245.0          1
1        249751FC4DD   260.0          1
2        24978027606    27.0          1
3        24979164422   246.0          1
4        2497B8B4FDA   255.0          1
...              ...     ...        ...
1048931  2E6F53ECC13   131.0          1
1048932  2E6F6DAFFF3   258.0          1
1048933  2E6F72C6F1C   134.0          1
1048934  2E6F9C7B9B4   144.0          1
1048935  2E6FB0EBB32   258.0          1

[1048936 rows x 3 columns]

In [6]:
new_df

           MAGIC_KEY  BOX_ID  BOX_COUNT
0        249670911D8   245.0          1
1        249751FC4DD   260.0          1
2        24978027606    27.0          1
3        24979164422   246.0          1
4        2497B8B4FDA   255.0          1
...              ...     ...        ...
1048931  2E6F53ECC13   131.0          1
1048932  2E6F6DAFFF3   258.0          1
1048933  2E6F72C6F1C   134.0          1
1048934  2E6F9C7B9B4   144.0          1
1048935  2E6FB0EBB32   258.0          1

[1048936 rows x 3 columns]

In [7]:
new_df.describe()

             BOX_ID     BOX_COUNT
count  1.048936e+06  1.048936e+06
mean   1.499650e+02  1.000480e+00
std    7.192291e+01  2.206651e-02
min    2.000000e+00  1.000000e+00
25%    1.030000e+02  1.000000e+00
50%    1.430000e+02  1.000000e+00
75%    2.070000e+02  1.000000e+00
max    2.900000e+02  3.000000e+00

In [8]:
boxes = pd.read_csv('Datasets/boxes.csv')
boxes

     BOX_ID   QUALITY                  DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0         1   Premium              Home Delivery - CoD   0.0   2.7        9.96
1         2   Premium              Home Delivery - CoD   0.0   2.3       11.96
2         3   Premium              Home Delivery - CoD   0.0   2.4       11.96
3         4   Premium              Home Delivery - CoD   0.0   2.5       11.96
4         5   Premium              Home Delivery - CoD   0.0   2.6       11.96
..      ...       ...                              ...   ...   ...         ...
285     286  Standard  Home Delivery - Digital Payment   0.0   4.0       15.96
286     287  Standard  Home Delivery - Digital Payment   0.0   2.9       15.96
287     288  Standard  Home Delivery - Digital Payment   0.0   3.6       15.96
288     289  Standard  Home Delivery - Digital Payment   0.0   4.7       15.96
289     290  Standard  Home Delivery - Digital Payment  12.0   1.8       19.98

[290 rows x 6 columns]

In [9]:
merged_df = pd.merge(boxes, new_df, on = 'BOX_ID', how = 'inner')
merged_df

,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,MAGIC_KEY,BOX_COUNT
0,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2BC4127366C,1
1,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2BC4394CE95,1
2,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2BC4D37C804,1
3,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2BC4EA26F92,1
4,2,Premium,Home Delivery - CoD,0.0,2.3,11.96,2BC4F73408A,1
...,...,...,...,...,...,...,...,...
1048931,288,Standard,Home Delivery - Digital Payment,0.0,3.6,15.96,28E5FB5E7BF,1
1048932,288,Standard,Home Delivery - Digital Payment,0.0,3.6,15.96,293C58DD9DC,1
1048933,288,Standard,Home Delivery - Digital Payment,0.0,3.6,15.96,29E6A06C99B,1
1048934,288,Standard,Home Delivery - Digital Payment,0.0,3.6,15.96,2A0CABFA0DF,1
1048935,290,Standard,Home Delivery - Digital Payment,12.0,1.8,19.98,28F675D813E,1

In [10]:
merged_df.to_csv("train.csv", index=False)  # Save test data