In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('../Common Datasets/train_df.csv')

In [3]:
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-01-01,2BE4ABE1D99,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
1,2019-01-01,2BF0F5D1852,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
2,2019-01-01,2CA3A78FEA9,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
3,2019-01-01,2C2A89A5F22,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
4,2019-01-01,2C586661A56,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
...,...,...,...,...,...,...,...,...,...
1867929,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1867930,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98
1867931,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98
1867932,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98
1867933,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867934 entries, 0 to 1867933
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   PURCHASE_DATE    object
 1   MAGIC_KEY        object
 2   BOX_ID           float64
 3   BOX_COUNT        float64
 4   QUALITY          object
 5   DELIVERY_OPTION  object
 6   MILK             float64
 7   MEAT             float64
 8   UNIT_PRICE       float64
dtypes: float64(5), object(4)
memory usage: 128.3+ MB

In [5]:
df['PURCHASE_DATE'] = pd.to_datetime(df['PURCHASE_DATE'])
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-01-01,2BE4ABE1D99,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
1,2019-01-01,2BF0F5D1852,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
2,2019-01-01,2CA3A78FEA9,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
3,2019-01-01,2C2A89A5F22,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
4,2019-01-01,2C586661A56,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
...,...,...,...,...,...,...,...,...,...
1867929,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1867930,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98
1867931,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98
1867932,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98
1867933,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96

# <font color="red">We need to create a new datasets with customer behaviour</font>

In [6]:
df_customer = pd.read_csv('../Common Datasets/df_customer_train.csv')

In [7]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048946 entries, 0 to 1048945
Data columns (total 10 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   MAGIC_KEY                1048946 non-null  object
 1   PURCHASE_COUNT           1048946 non-null  int64
 2   TOTAL_AMOUNT_SPENT       1048946 non-null  float64
 3   LAST_PURCHASE_DATE       1048946 non-null  object
 4   DAY_SINCE_LAST_PURCHASE  1048946 non-null  object
 5   AVERAGE_DIFF             1048946 non-null  object
 6   10_2018_FIRST_15         1048946 non-null  float64
 7   11_2018_FIRST_15         1048946 non-null  float64
 8   12_2018_FIRST_15         1048946 non-null  float64
 9   1_2019_FIRST_15          1048946 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 80.0+ MB

In [8]:
df_customer['LAST_PURCHASE_DATE'] = pd.to_datetime(df_customer['LAST_PURCHASE_DATE'])
df_customer['DAY_SINCE_LAST_PURCHASE'] = pd.to_timedelta(df_customer['DAY_SINCE_LAST_PURCHASE'])
df_customer['AVERAGE_DIFF'] = pd.to_timedelta(df_customer['AVERAGE_DIFF'])

In [9]:
df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15
0,249670911D8,1,13.96,2018-11-01,92 days,0 days 00:00:00,0.0,1.0,0.0,0.0
1,249751FC4DD,1,17.98,2018-10-12,112 days,0 days 00:00:00,1.0,0.0,0.0,0.0
2,24978027606,1,15.96,2018-10-19,105 days,0 days 00:00:00,0.0,0.0,0.0,0.0
3,24979164422,1,13.96,2018-11-30,63 days,0 days 00:00:00,0.0,0.0,0.0,0.0
4,2497B8B4FDA,2,33.94,2018-11-01,92 days,29 days 00:00:00,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1048941,2E6F53ECC13,1,19.98,2018-11-25,68 days,0 days 00:00:00,0.0,0.0,0.0,0.0
1048942,2E6F6DAFFF3,4,71.92,2019-01-19,13 days,30 days 16:00:00,0.0,0.0,0.0,0.0
1048943,2E6F72C6F1C,1,19.98,2018-10-21,103 days,0 days 00:00:00,0.0,0.0,0.0,0.0
1048944,2E6F9C7B9B4,1,19.98,2019-01-28,4 days,0 days 00:00:00,0.0,0.0,0.0,0.0
1048945,2E6FB0EBB32,5,89.90,2019-01-23,9 days,28 days 12:00:00,1.0,0.0,0.0,0.0

In [10]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048946 entries, 0 to 1048945
Data columns (total 10 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   MAGIC_KEY                1048946 non-null  object
 1   PURCHASE_COUNT           1048946 non-null  int64
 2   TOTAL_AMOUNT_SPENT       1048946 non-null  float64
 3   LAST_PURCHASE_DATE       1048946 non-null  datetime64[ns]
 4   DAY_SINCE_LAST_PURCHASE  1048946 non-null  timedelta64[ns]
 5   AVERAGE_DIFF             1048946 non-null  timedelta64[ns]
 6   10_2018_FIRST_15         1048946 non-null  float64
 7   11_2018_FIRST_15         1048946 non-null  float64
 8   12_2018_FIRST_15         1048946 non-null  float64
 9   1_2019_FIRST_15          1048946 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1), timedelta64[ns](2)
memory usage: 80.0+ MB

In [11]:
df_customer.describe()

,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15
count,1.048946e+06,1.048946e+06,1048946,1048946,1048946,1.048946e+06,1.048946e+06,1.048946e+06,1.048946e+06
mean,1.780772e+00,3.172906e+01,2018-12-16 09:45:36.216354816,46 days 14:14:23.783645677,15 days 13:47:54.728888603,2.090089e-01,2.156098e-01,2.125867e-01,2.531579e-01
min,1.000000e+00,9.960000e+00,2018-10-01 00:00:00,1 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,1.596000e+01,2018-11-18 00:00:00,17 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000e+00,2.398000e+01,2018-12-28 00:00:00,35 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+00,4.388000e+01,2019-01-15 00:00:00,75 days 00:00:00,30 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,4.000000e+01,4.872000e+02,2019-01-31 00:00:00,123 days 00:00:00,122 days 00:00:00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
std,1.192321e+00,2.274335e+01,NaN,35 days 18:30:03.134143502,21 days 20:52:43.690023691,4.066009e-01,4.112449e-01,4.091378e-01,4.348209e-01

In [12]:
temp_df_for_merged = df_customer[['MAGIC_KEY', 'LAST_PURCHASE_DATE']].copy()
temp_df_for_merged.rename(columns={'LAST_PURCHASE_DATE': 'PURCHASE_DATE'}, inplace=True)
temp_df_for_merged

           MAGIC_KEY PURCHASE_DATE
0        249670911D8    2018-11-01
1        249751FC4DD    2018-10-12
2        24978027606    2018-10-19
3        24979164422    2018-11-30
4        2497B8B4FDA    2018-11-01
...              ...           ...
1048941  2E6F53ECC13    2018-11-25
1048942  2E6F6DAFFF3    2019-01-19
1048943  2E6F72C6F1C    2018-10-21
1048944  2E6F9C7B9B4    2019-01-28
1048945  2E6FB0EBB32    2019-01-23

[1048946 rows x 2 columns]

In [13]:
merged_df = pd.merge(temp_df_for_merged, df, on=['MAGIC_KEY', 'PURCHASE_DATE'], how='left')
merged_df

,MAGIC_KEY,PURCHASE_DATE,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,249670911D8,2018-11-01,245.0,1.0,Standard,Delivery from Collection Point,0.0,2.4,13.96
1,249751FC4DD,2018-10-12,260.0,1.0,Standard,Delivery from Collection Point,10.0,1.8,17.98
2,24978027606,2018-10-19,27.0,1.0,Premium,Home Delivery - CoD,0.0,2.9,15.96
3,24979164422,2018-11-30,246.0,1.0,Standard,Delivery from Collection Point,0.0,2.5,13.96
4,2497B8B4FDA,2018-11-01,255.0,1.0,Standard,Delivery from Collection Point,0.0,3.6,15.96
...,...,...,...,...,...,...,...,...,...
1049168,2E6F53ECC13,2018-11-25,131.0,1.0,Premium,Delivery from Collection Point,9.0,1.6,19.98
1049169,2E6F6DAFFF3,2019-01-19,258.0,1.0,Standard,Delivery from Collection Point,8.0,2.2,17.98
1049170,2E6F72C6F1C,2018-10-21,134.0,1.0,Premium,Delivery from Collection Point,10.0,1.8,19.98
1049171,2E6F9C7B9B4,2019-01-28,144.0,1.0,Premium,Delivery from Collection Point,16.0,2.2,19.98
1049172,2E6FB0EBB32,2019-01-23,258.0,1.0,Standard,Delivery from Collection Point,8.0,2.2,17.98

In [14]:
#checking the info
#more specific details, combining two condition
df.loc[(df.MAGIC_KEY == '249670911D8') & (df.PURCHASE_DATE == '2018-11-01')]

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
1394558,2018-11-01,249670911D8,245.0,1.0,Standard,Delivery from Collection Point,0.0,2.4,13.96

In [15]:
last_purchased_quantity = merged_df[['MAGIC_KEY', 'MILK', 'MEAT']].copy()
last_purchased_quantity.rename(columns={'MILK': 'LAST_MILK_PURCHASE'}, inplace=True)
last_purchased_quantity.rename(columns={'MEAT': 'LAST_MEAT_PURCHASE'}, inplace=True)
last_purchased_quantity

           MAGIC_KEY  LAST_MILK_PURCHASE  LAST_MEAT_PURCHASE
0        249670911D8                 0.0                 2.4
1        249751FC4DD                10.0                 1.8
2        24978027606                 0.0                 2.9
3        24979164422                 0.0                 2.5
4        2497B8B4FDA                 0.0                 3.6
...              ...                 ...                 ...
1049168  2E6F53ECC13                 9.0                 1.6
1049169  2E6F6DAFFF3                 8.0                 2.2
1049170  2E6F72C6F1C                10.0                 1.8
1049171  2E6F9C7B9B4                16.0                 2.2
1049172  2E6FB0EBB32                 8.0                 2.2

[1049173 rows x 3 columns]

In [16]:
df_customer = pd.merge(df_customer, last_purchased_quantity, on='MAGIC_KEY', how='left')
df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,LAST_MILK_PURCHASE,LAST_MEAT_PURCHASE
0,249670911D8,1,13.96,2018-11-01,92 days,0 days 00:00:00,0.0,1.0,0.0,0.0,0.0,2.4
1,249751FC4DD,1,17.98,2018-10-12,112 days,0 days 00:00:00,1.0,0.0,0.0,0.0,10.0,1.8
2,24978027606,1,15.96,2018-10-19,105 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,2.9
3,24979164422,1,13.96,2018-11-30,63 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,2.5
4,2497B8B4FDA,2,33.94,2018-11-01,92 days,29 days 00:00:00,1.0,1.0,0.0,0.0,0.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...
1049168,2E6F53ECC13,1,19.98,2018-11-25,68 days,0 days 00:00:00,0.0,0.0,0.0,0.0,9.0,1.6
1049169,2E6F6DAFFF3,4,71.92,2019-01-19,13 days,30 days 16:00:00,0.0,0.0,0.0,0.0,8.0,2.2
1049170,2E6F72C6F1C,1,19.98,2018-10-21,103 days,0 days 00:00:00,0.0,0.0,0.0,0.0,10.0,1.8
1049171,2E6F9C7B9B4,1,19.98,2019-01-28,4 days,0 days 00:00:00,0.0,0.0,0.0,0.0,16.0,2.2
1049172,2E6FB0EBB32,5,89.90,2019-01-23,9 days,28 days 12:00:00,1.0,0.0,0.0,0.0,8.0,2.2

In [17]:
# Calculate the mode of BOX_ID for each MAGIC_KEY across the entire purchase history
mode_box_id = df.groupby('MAGIC_KEY')['BOX_ID'].agg(lambda x: x.mode().iloc[0]).reset_index()

# Merge with df_customer DataFrame on 'MAGIC_KEY' for each MODE_BOX_ID column
df_customer = pd.merge(df_customer, mode_box_id, on='MAGIC_KEY', how='left')

df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,LAST_MILK_PURCHASE,LAST_MEAT_PURCHASE,BOX_ID
0,249670911D8,1,13.96,2018-11-01,92 days,0 days 00:00:00,0.0,1.0,0.0,0.0,0.0,2.4,245.0
1,249751FC4DD,1,17.98,2018-10-12,112 days,0 days 00:00:00,1.0,0.0,0.0,0.0,10.0,1.8,260.0
2,24978027606,1,15.96,2018-10-19,105 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,2.9,27.0
3,24979164422,1,13.96,2018-11-30,63 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,2.5,246.0
4,2497B8B4FDA,2,33.94,2018-11-01,92 days,29 days 00:00:00,1.0,1.0,0.0,0.0,0.0,3.6,255.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049168,2E6F53ECC13,1,19.98,2018-11-25,68 days,0 days 00:00:00,0.0,0.0,0.0,0.0,9.0,1.6,131.0
1049169,2E6F6DAFFF3,4,71.92,2019-01-19,13 days,30 days 16:00:00,0.0,0.0,0.0,0.0,8.0,2.2,258.0
1049170,2E6F72C6F1C,1,19.98,2018-10-21,103 days,0 days 00:00:00,0.0,0.0,0.0,0.0,10.0,1.8,134.0
1049171,2E6F9C7B9B4,1,19.98,2019-01-28,4 days,0 days 00:00:00,0.0,0.0,0.0,0.0,16.0,2.2,144.0
1049172,2E6FB0EBB32,5,89.90,2019-01-23,9 days,28 days 12:00:00,1.0,0.0,0.0,0.0,8.0,2.2,258.0

In [18]:
boxes = pd.read_csv('../Common Datasets/boxes.csv')
boxes

     BOX_ID   QUALITY                  DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0         1   Premium              Home Delivery - CoD   0.0   2.7        9.96
1         2   Premium              Home Delivery - CoD   0.0   2.3       11.96
2         3   Premium              Home Delivery - CoD   0.0   2.4       11.96
3         4   Premium              Home Delivery - CoD   0.0   2.5       11.96
4         5   Premium              Home Delivery - CoD   0.0   2.6       11.96
..      ...       ...                              ...   ...   ...         ...
285     286  Standard  Home Delivery - Digital Payment   0.0   4.0       15.96
286     287  Standard  Home Delivery - Digital Payment   0.0   2.9       15.96
287     288  Standard  Home Delivery - Digital Payment   0.0   3.6       15.96
288     289  Standard  Home Delivery - Digital Payment   0.0   4.7       15.96
289     290  Standard  Home Delivery - Digital Payment  12.0   1.8       19.98

[290 rows x 6 columns]

In [19]:
df_customer = pd.merge(df_customer, boxes, on='BOX_ID', how='left')
df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,LAST_MILK_PURCHASE,LAST_MEAT_PURCHASE,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,249670911D8,1,13.96,2018-11-01,92 days,0 days 00:00:00,0.0,1.0,0.0,0.0,0.0,2.4,245.0,Standard,Delivery from Collection Point,0.0,2.4,13.96
1,249751FC4DD,1,17.98,2018-10-12,112 days,0 days 00:00:00,1.0,0.0,0.0,0.0,10.0,1.8,260.0,Standard,Delivery from Collection Point,10.0,1.8,17.98
2,24978027606,1,15.96,2018-10-19,105 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,2.9,27.0,Premium,Home Delivery - CoD,0.0,2.9,15.96
3,24979164422,1,13.96,2018-11-30,63 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,2.5,246.0,Standard,Delivery from Collection Point,0.0,2.5,13.96
4,2497B8B4FDA,2,33.94,2018-11-01,92 days,29 days 00:00:00,1.0,1.0,0.0,0.0,0.0,3.6,255.0,Standard,Delivery from Collection Point,0.0,3.6,15.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049168,2E6F53ECC13,1,19.98,2018-11-25,68 days,0 days 00:00:00,0.0,0.0,0.0,0.0,9.0,1.6,131.0,Premium,Delivery from Collection Point,9.0,1.6,19.98
1049169,2E6F6DAFFF3,4,71.92,2019-01-19,13 days,30 days 16:00:00,0.0,0.0,0.0,0.0,8.0,2.2,258.0,Standard,Delivery from Collection Point,8.0,2.2,17.98
1049170,2E6F72C6F1C,1,19.98,2018-10-21,103 days,0 days 00:00:00,0.0,0.0,0.0,0.0,10.0,1.8,134.0,Premium,Delivery from Collection Point,10.0,1.8,19.98
1049171,2E6F9C7B9B4,1,19.98,2019-01-28,4 days,0 days 00:00:00,0.0,0.0,0.0,0.0,16.0,2.2,144.0,Premium,Delivery from Collection Point,16.0,2.2,19.98
1049172,2E6FB0EBB32,5,89.90,2019-01-23,9 days,28 days 12:00:00,1.0,0.0,0.0,0.0,8.0,2.2,258.0,Standard,Delivery from Collection Point,8.0,2.2,17.98

In [20]:
df_customer = df_customer.drop(columns = ['QUALITY'])
df_customer = df_customer.drop(columns = ['DELIVERY_OPTION'])
df_customer.rename(columns={'BOX_ID': 'MODE_BOX_ID'}, inplace=True)
df_customer.rename(columns={'MILK': 'MODE_BOX_ID_MILK'}, inplace=True)
df_customer.rename(columns={'MEAT': 'MODE_BOX_ID_MEAT'}, inplace=True)
df_customer.rename(columns={'UNIT_PRICE': 'MODE_BOX_ID_UNIT_PRICE'}, inplace=True)

df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,LAST_MILK_PURCHASE,LAST_MEAT_PURCHASE,MODE_BOX_ID,MODE_BOX_ID_MILK,MODE_BOX_ID_MEAT,MODE_BOX_ID_UNIT_PRICE
0,249670911D8,1,13.96,2018-11-01,92 days,0 days 00:00:00,0.0,1.0,0.0,0.0,0.0,2.4,245.0,0.0,2.4,13.96
1,249751FC4DD,1,17.98,2018-10-12,112 days,0 days 00:00:00,1.0,0.0,0.0,0.0,10.0,1.8,260.0,10.0,1.8,17.98
2,24978027606,1,15.96,2018-10-19,105 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,2.9,27.0,0.0,2.9,15.96
3,24979164422,1,13.96,2018-11-30,63 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,2.5,246.0,0.0,2.5,13.96
4,2497B8B4FDA,2,33.94,2018-11-01,92 days,29 days 00:00:00,1.0,1.0,0.0,0.0,0.0,3.6,255.0,0.0,3.6,15.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049168,2E6F53ECC13,1,19.98,2018-11-25,68 days,0 days 00:00:00,0.0,0.0,0.0,0.0,9.0,1.6,131.0,9.0,1.6,19.98
1049169,2E6F6DAFFF3,4,71.92,2019-01-19,13 days,30 days 16:00:00,0.0,0.0,0.0,0.0,8.0,2.2,258.0,8.0,2.2,17.98
1049170,2E6F72C6F1C,1,19.98,2018-10-21,103 days,0 days 00:00:00,0.0,0.0,0.0,0.0,10.0,1.8,134.0,10.0,1.8,19.98
1049171,2E6F9C7B9B4,1,19.98,2019-01-28,4 days,0 days 00:00:00,0.0,0.0,0.0,0.0,16.0,2.2,144.0,16.0,2.2,19.98
1049172,2E6FB0EBB32,5,89.90,2019-01-23,9 days,28 days 12:00:00,1.0,0.0,0.0,0.0,8.0,2.2,258.0,8.0,2.2,17.98

In [21]:
# Filter the DataFrame to include only dates in the first 15 days of October 2018
october_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2018) & 
                          (df['PURCHASE_DATE'].dt.month == 10) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

november_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2018) & 
                          (df['PURCHASE_DATE'].dt.month == 11) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

december_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2018) & 
                          (df['PURCHASE_DATE'].dt.month == 12) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

january_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2019) & 
                          (df['PURCHASE_DATE'].dt.month == 1) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

In [22]:
milk_october_first_15 = october_first_15_df.groupby('MAGIC_KEY')['MILK'].sum().reset_index()
milk_october_first_15.rename(columns={'MILK': 'MILK_10_2018_FIRST_15'}, inplace=True)

meat_october_first_15 = october_first_15_df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
meat_october_first_15.rename(columns={'MEAT': 'MEAT_10_2018_FIRST_15'}, inplace=True)


milk_november_first_15 = november_first_15_df.groupby('MAGIC_KEY')['MILK'].sum().reset_index()
milk_november_first_15.rename(columns={'MILK': 'MILK_11_2018_FIRST_15'}, inplace=True)

meat_november_first_15 = november_first_15_df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
meat_november_first_15.rename(columns={'MEAT': 'MEAT_11_2018_FIRST_15'}, inplace=True)


milk_december_first_15 = december_first_15_df.groupby('MAGIC_KEY')['MILK'].sum().reset_index()
milk_december_first_15.rename(columns={'MILK': 'MILK_12_2018_FIRST_15'}, inplace=True)

meat_december_first_15 = december_first_15_df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
meat_december_first_15.rename(columns={'MEAT': 'MEAT_12_2018_FIRST_15'}, inplace=True)


#milk_january_first_15 = january_first_15_df.groupby('MAGIC_KEY')['MILK'].sum().reset_index()
#milk_january_first_15.rename(columns={'MILK': 'MILK_1_2019_FIRST_15'}, inplace=True)

meat_january_first_15 = january_first_15_df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
meat_january_first_15.rename(columns={'MEAT': 'MEAT_1_2019_FIRST_15'}, inplace=True)


df_customer = pd.merge(df_customer, milk_october_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, meat_october_first_15, on='MAGIC_KEY', how='left')

df_customer = pd.merge(df_customer, milk_november_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, meat_november_first_15, on='MAGIC_KEY', how='left')

df_customer = pd.merge(df_customer, milk_december_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, meat_december_first_15, on='MAGIC_KEY', how='left')

#df_customer = pd.merge(df_customer, milk_january_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, meat_january_first_15, on='MAGIC_KEY', how='left')


df_customer['MILK_10_2018_FIRST_15'] = df_customer['MILK_10_2018_FIRST_15'].fillna(0)
df_customer['MEAT_10_2018_FIRST_15'] = df_customer['MEAT_10_2018_FIRST_15'].fillna(0)

df_customer['MILK_11_2018_FIRST_15'] = df_customer['MILK_11_2018_FIRST_15'].fillna(0)
df_customer['MEAT_11_2018_FIRST_15'] = df_customer['MEAT_11_2018_FIRST_15'].fillna(0)

df_customer['MILK_12_2018_FIRST_15'] = df_customer['MILK_12_2018_FIRST_15'].fillna(0)
df_customer['MEAT_12_2018_FIRST_15'] = df_customer['MEAT_12_2018_FIRST_15'].fillna(0)

#df_customer['MILK_1_2019_FIRST_15'] = df_customer['MILK_1_2019_FIRST_15'].fillna(0)
df_customer['MEAT_1_2019_FIRST_15'] = df_customer['MEAT_1_2019_FIRST_15'].fillna(0)


df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,...,MODE_BOX_ID_MILK,MODE_BOX_ID_MEAT,MODE_BOX_ID_UNIT_PRICE,MILK_10_2018_FIRST_15,MEAT_10_2018_FIRST_15,MILK_11_2018_FIRST_15,MEAT_11_2018_FIRST_15,MILK_12_2018_FIRST_15,MEAT_12_2018_FIRST_15,MEAT_1_2019_FIRST_15
0,249670911D8,1,13.96,2018-11-01,92 days,0 days 00:00:00,0.0,1.0,0.0,0.0,...,0.0,2.4,13.96,0.0,0.0,0.0,2.4,0.0,0.0,0.0
1,249751FC4DD,1,17.98,2018-10-12,112 days,0 days 00:00:00,1.0,0.0,0.0,0.0,...,10.0,1.8,17.98,10.0,1.8,0.0,0.0,0.0,0.0,0.0
2,24978027606,1,15.96,2018-10-19,105 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,2.9,15.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,24979164422,1,13.96,2018-11-30,63 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,2.5,13.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2497B8B4FDA,2,33.94,2018-11-01,92 days,29 days 00:00:00,1.0,1.0,0.0,0.0,...,0.0,3.6,15.96,10.0,1.8,0.0,3.6,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049168,2E6F53ECC13,1,19.98,2018-11-25,68 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,9.0,1.6,19.98,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1049169,2E6F6DAFFF3,4,71.92,2019-01-19,13 days,30 days 16:00:00,0.0,0.0,0.0,0.0,...,8.0,2.2,17.98,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1049170,2E6F72C6F1C,1,19.98,2018-10-21,103 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,10.0,1.8,19.98,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1049171,2E6F9C7B9B4,1,19.98,2019-01-28,4 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,16.0,2.2,19.98,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1049172,2E6FB0EBB32,5,89.90,2019-01-23,9 days,28 days 12:00:00,1.0,0.0,0.0,0.0,...,8.0,2.2,17.98,10.0,1.8,0.0,0.0,0.0,0.0,0.0

In [23]:
# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_october_first_15 = october_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_october_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_10_2018_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_november_first_15 = november_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_november_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_11_2018_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_december_first_15 = december_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_december_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_12_2018_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_january_first_15 = january_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_january_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_1_2019_FIRST_15']


df_customer = pd.merge(df_customer, total_purchase_october_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_november_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_december_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_january_first_15, on='MAGIC_KEY', how='left')

df_customer['T_PURCHASE_10_2018_FIRST_15'] = df_customer['T_PURCHASE_10_2018_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_11_2018_FIRST_15'] = df_customer['T_PURCHASE_11_2018_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_12_2018_FIRST_15'] = df_customer['T_PURCHASE_12_2018_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_1_2019_FIRST_15'] = df_customer['T_PURCHASE_1_2019_FIRST_15'].fillna(0)

df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,...,MEAT_10_2018_FIRST_15,MILK_11_2018_FIRST_15,MEAT_11_2018_FIRST_15,MILK_12_2018_FIRST_15,MEAT_12_2018_FIRST_15,MEAT_1_2019_FIRST_15,T_PURCHASE_10_2018_FIRST_15,T_PURCHASE_11_2018_FIRST_15,T_PURCHASE_12_2018_FIRST_15,T_PURCHASE_1_2019_FIRST_15
0,249670911D8,1,13.96,2018-11-01,92 days,0 days 00:00:00,0.0,1.0,0.0,0.0,...,0.0,0.0,2.4,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,249751FC4DD,1,17.98,2018-10-12,112 days,0 days 00:00:00,1.0,0.0,0.0,0.0,...,1.8,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,24978027606,1,15.96,2018-10-19,105 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,24979164422,1,13.96,2018-11-30,63 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2497B8B4FDA,2,33.94,2018-11-01,92 days,29 days 00:00:00,1.0,1.0,0.0,0.0,...,1.8,0.0,3.6,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049168,2E6F53ECC13,1,19.98,2018-11-25,68 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1049169,2E6F6DAFFF3,4,71.92,2019-01-19,13 days,30 days 16:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1049170,2E6F72C6F1C,1,19.98,2018-10-21,103 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1049171,2E6F9C7B9B4,1,19.98,2019-01-28,4 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1049172,2E6FB0EBB32,5,89.90,2019-01-23,9 days,28 days 12:00:00,1.0,0.0,0.0,0.0,...,1.8,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [24]:
df_customer.to_csv("train.csv", index=False)  # Save test data