In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('../Common Datasets/merged_df.csv')

In [3]:
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
2455765,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2455766,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98
2455767,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98
2455768,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98
2455769,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455770 entries, 0 to 2455769
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   PURCHASE_DATE    object
 1   MAGIC_KEY        object
 2   BOX_ID           float64
 3   BOX_COUNT        float64
 4   QUALITY          object
 5   DELIVERY_OPTION  object
 6   MILK             float64
 7   MEAT             float64
 8   UNIT_PRICE       float64
dtypes: float64(5), object(4)
memory usage: 168.6+ MB

In [5]:
df['PURCHASE_DATE'] = pd.to_datetime(df['PURCHASE_DATE'])
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
2455765,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2455766,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98
2455767,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98
2455768,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98
2455769,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96

# <font color="red">We need to create a new datasets with customer behaviour</font>

In [6]:
df_customer = pd.read_csv('../Common Datasets/df_customer_all.csv')

In [7]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274101 entries, 0 to 1274100
Data columns (total 11 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   MAGIC_KEY                1274101 non-null  object
 1   PURCHASE_COUNT           1274101 non-null  int64
 2   TOTAL_AMOUNT_SPENT       1274101 non-null  float64
 3   LAST_PURCHASE_DATE       1274101 non-null  object
 4   DAY_SINCE_LAST_PURCHASE  1274101 non-null  object
 5   AVERAGE_DIFF             1274101 non-null  object
 6   10_2018_FIRST_15         1274101 non-null  float64
 7   11_2018_FIRST_15         1274101 non-null  float64
 8   12_2018_FIRST_15         1274101 non-null  float64
 9   1_2019_FIRST_15          1274101 non-null  float64
 10  2_2019_FIRST_15          1274101 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 106.9+ MB

In [8]:
df_customer['LAST_PURCHASE_DATE'] = pd.to_datetime(df_customer['LAST_PURCHASE_DATE'])
df_customer['DAY_SINCE_LAST_PURCHASE'] = pd.to_timedelta(df_customer['DAY_SINCE_LAST_PURCHASE'])
df_customer['AVERAGE_DIFF'] = pd.to_timedelta(df_customer['AVERAGE_DIFF'])

In [9]:
df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0.0,1.0,0.0,0.0,1.0
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1.0,0.0,0.0,0.0,0.0
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1274096,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0.0,0.0,0.0,0.0,1.0
1274097,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0
1274098,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0
1274099,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1.0,0.0,0.0,0.0,1.0
1274100,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0

In [10]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1274101 entries, 0 to 1274100
Data columns (total 11 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   MAGIC_KEY                1274101 non-null  object
 1   PURCHASE_COUNT           1274101 non-null  int64
 2   TOTAL_AMOUNT_SPENT       1274101 non-null  float64
 3   LAST_PURCHASE_DATE       1274101 non-null  datetime64[ns]
 4   DAY_SINCE_LAST_PURCHASE  1274101 non-null  timedelta64[ns]
 5   AVERAGE_DIFF             1274101 non-null  timedelta64[ns]
 6   10_2018_FIRST_15         1274101 non-null  float64
 7   11_2018_FIRST_15         1274101 non-null  float64
 8   12_2018_FIRST_15         1274101 non-null  float64
 9   1_2019_FIRST_15          1274101 non-null  float64
 10  2_2019_FIRST_15          1274101 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1), timedelta64[ns](2)
memory usage: 106.9+ MB

In [11]:
df_customer.describe()

,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15
count,1.274101e+06,1.274101e+06,1274101,1274101,1274101,1.274101e+06,1.274101e+06,1.274101e+06,1.274101e+06,1.274101e+06
mean,1.927453e+00,3.400012e+01,2019-01-07 19:55:04.823401728,52 days 04:04:55.176599031,17 days 20:08:33.118372521,1.720735e-01,1.775079e-01,1.750191e-01,2.084207e-01,2.309911e-01
min,1.000000e+00,5.560000e+00,2018-10-01 00:00:00,1 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,1.596000e+01,2018-12-06 00:00:00,15 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000e+00,2.398000e+01,2019-01-23 00:00:00,37 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+00,4.788000e+01,2019-02-14 00:00:00,85 days 00:00:00,31 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,4.000000e+01,5.745600e+02,2019-02-28 00:00:00,151 days 00:00:00,150 days 00:00:00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
std,1.411813e+00,2.695406e+01,NaN,44 days 07:47:49.942978708,25 days 02:40:47.216979558,3.774445e-01,3.820981e-01,3.799836e-01,4.061793e-01,4.214669e-01

In [12]:
temp_df_for_merged = df_customer[['MAGIC_KEY', 'LAST_PURCHASE_DATE']].copy()
temp_df_for_merged.rename(columns={'LAST_PURCHASE_DATE': 'PURCHASE_DATE'}, inplace=True)
temp_df_for_merged

           MAGIC_KEY PURCHASE_DATE
0        249670911D8    2019-02-02
1        249751FC4DD    2018-10-12
2        24978027606    2018-10-19
3        24979164422    2018-11-30
4        2497B8B4FDA    2018-11-01
...              ...           ...
1274096  2E6F72C6F1C    2019-02-27
1274097  2E6F8194908    2019-02-23
1274098  2E6F9C7B9B4    2019-01-28
1274099  2E6FB0EBB32    2019-02-11
1274100  2E6FBE224FA    2019-02-20

[1274101 rows x 2 columns]

In [13]:
merged_df = pd.merge(df, temp_df_for_merged, on=['MAGIC_KEY', 'PURCHASE_DATE'], how='inner')
merged_df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
1274485,2018-10-28,2BE0FCC2107,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1274486,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1274487,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98
1274488,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98
1274489,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96

In [14]:
merged_df['MAGIC_KEY'].nunique()

1274101

In [15]:
# Sort the merged DataFrame by MAGIC_KEY and PURCHASE_DATE in descending order
merged_df_sorted = merged_df.sort_values(by=['MAGIC_KEY', 'PURCHASE_DATE'], ascending=[True, False])

# Drop duplicates based on MAGIC_KEY, keeping only the first occurrence
merged_df_latest_purchase = merged_df_sorted.drop_duplicates(subset='MAGIC_KEY', keep='first')

merged_df_latest_purchase

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
23923,2019-02-02,249670911D8,231.0,1.0,Standard,Delivery from Collection Point,8.5,0.0,10.14
1163841,2018-10-12,249751FC4DD,260.0,1.0,Standard,Delivery from Collection Point,10.0,1.8,17.98
1197468,2018-10-19,24978027606,27.0,1.0,Premium,Home Delivery - CoD,0.0,2.9,15.96
1108627,2018-11-30,24979164422,246.0,1.0,Standard,Delivery from Collection Point,0.0,2.5,13.96
1043323,2018-11-01,2497B8B4FDA,255.0,1.0,Standard,Delivery from Collection Point,0.0,3.6,15.96
...,...,...,...,...,...,...,...,...,...
500832,2019-02-27,2E6F72C6F1C,126.0,1.0,Premium,Delivery from Collection Point,10.0,1.5,15.98
420668,2019-02-23,2E6F8194908,76.0,1.0,Premium,Delivery from Collection Point,0.0,2.4,11.96
770061,2019-01-28,2E6F9C7B9B4,144.0,1.0,Premium,Delivery from Collection Point,16.0,2.2,19.98
186691,2019-02-11,2E6FB0EBB32,258.0,1.0,Standard,Delivery from Collection Point,8.0,2.2,17.98
352975,2019-02-20,2E6FBE224FA,78.0,1.0,Premium,Delivery from Collection Point,0.0,2.7,11.96

In [16]:
#checking the info
#more specific details, combining two condition
df.loc[(df.MAGIC_KEY == '2497B8B4FDA') & (df.PURCHASE_DATE == '2018-11-01')]

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
1781116,2018-11-01,2497B8B4FDA,255.0,1.0,Standard,Delivery from Collection Point,0.0,3.6,15.96

In [17]:
df.loc[(df.MAGIC_KEY == '2497B8B4FDA')]

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
1781116,2018-11-01,2497B8B4FDA,255.0,1.0,Standard,Delivery from Collection Point,0.0,3.6,15.96
2089877,2018-10-03,2497B8B4FDA,260.0,1.0,Standard,Delivery from Collection Point,10.0,1.8,17.98

In [18]:
last_purchased_quantity = merged_df_latest_purchase[['MAGIC_KEY', 'MILK', 'MEAT']].copy()
last_purchased_quantity.rename(columns={'MILK': 'LAST_MILK_PURCHASE'}, inplace=True)
last_purchased_quantity.rename(columns={'MEAT': 'LAST_MEAT_PURCHASE'}, inplace=True)
last_purchased_quantity

           MAGIC_KEY  LAST_MILK_PURCHASE  LAST_MEAT_PURCHASE
23923    249670911D8                 8.5                 0.0
1163841  249751FC4DD                10.0                 1.8
1197468  24978027606                 0.0                 2.9
1108627  24979164422                 0.0                 2.5
1043323  2497B8B4FDA                 0.0                 3.6
...              ...                 ...                 ...
500832   2E6F72C6F1C                10.0                 1.5
420668   2E6F8194908                 0.0                 2.4
770061   2E6F9C7B9B4                16.0                 2.2
186691   2E6FB0EBB32                 8.0                 2.2
352975   2E6FBE224FA                 0.0                 2.7

[1274101 rows x 3 columns]

In [19]:
df_customer = pd.merge(df_customer, last_purchased_quantity, on='MAGIC_KEY', how='left')
df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15,LAST_MILK_PURCHASE,LAST_MEAT_PURCHASE
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0.0,1.0,0.0,0.0,1.0,8.5,0.0
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1.0,0.0,0.0,0.0,0.0,10.0,1.8
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.9
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.5
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1.0,1.0,0.0,0.0,0.0,0.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274096,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0.0,0.0,0.0,0.0,1.0,10.0,1.5
1274097,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.4
1274098,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,16.0,2.2
1274099,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1.0,0.0,0.0,0.0,1.0,8.0,2.2
1274100,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.7

In [20]:
# Calculate the mode of BOX_ID for each MAGIC_KEY across the entire purchase history
mode_box_id = df.groupby('MAGIC_KEY')['BOX_ID'].agg(lambda x: x.mode().iloc[0]).reset_index()

# Merge with df_customer DataFrame on 'MAGIC_KEY' for each MODE_BOX_ID column
df_customer = pd.merge(df_customer, mode_box_id, on='MAGIC_KEY', how='left')

df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15,LAST_MILK_PURCHASE,LAST_MEAT_PURCHASE,BOX_ID
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0.0,1.0,0.0,0.0,1.0,8.5,0.0,231.0
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1.0,0.0,0.0,0.0,0.0,10.0,1.8,260.0
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.9,27.0
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.5,246.0
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1.0,1.0,0.0,0.0,0.0,0.0,3.6,255.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274096,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0.0,0.0,0.0,0.0,1.0,10.0,1.5,126.0
1274097,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.4,76.0
1274098,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,16.0,2.2,144.0
1274099,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1.0,0.0,0.0,0.0,1.0,8.0,2.2,258.0
1274100,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.7,78.0

In [21]:
boxes = pd.read_csv('../Common Datasets/boxes.csv')
boxes

     BOX_ID   QUALITY                  DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0         1   Premium              Home Delivery - CoD   0.0   2.7        9.96
1         2   Premium              Home Delivery - CoD   0.0   2.3       11.96
2         3   Premium              Home Delivery - CoD   0.0   2.4       11.96
3         4   Premium              Home Delivery - CoD   0.0   2.5       11.96
4         5   Premium              Home Delivery - CoD   0.0   2.6       11.96
..      ...       ...                              ...   ...   ...         ...
285     286  Standard  Home Delivery - Digital Payment   0.0   4.0       15.96
286     287  Standard  Home Delivery - Digital Payment   0.0   2.9       15.96
287     288  Standard  Home Delivery - Digital Payment   0.0   3.6       15.96
288     289  Standard  Home Delivery - Digital Payment   0.0   4.7       15.96
289     290  Standard  Home Delivery - Digital Payment  12.0   1.8       19.98

[290 rows x 6 columns]

In [22]:
df_customer = pd.merge(df_customer, boxes, on='BOX_ID', how='left')
df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15,LAST_MILK_PURCHASE,LAST_MEAT_PURCHASE,BOX_ID,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0.0,1.0,0.0,0.0,1.0,8.5,0.0,231.0,Standard,Delivery from Collection Point,8.5,0.0,10.14
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1.0,0.0,0.0,0.0,0.0,10.0,1.8,260.0,Standard,Delivery from Collection Point,10.0,1.8,17.98
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.9,27.0,Premium,Home Delivery - CoD,0.0,2.9,15.96
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.5,246.0,Standard,Delivery from Collection Point,0.0,2.5,13.96
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1.0,1.0,0.0,0.0,0.0,0.0,3.6,255.0,Standard,Delivery from Collection Point,0.0,3.6,15.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274096,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0.0,0.0,0.0,0.0,1.0,10.0,1.5,126.0,Premium,Delivery from Collection Point,10.0,1.5,15.98
1274097,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.4,76.0,Premium,Delivery from Collection Point,0.0,2.4,11.96
1274098,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,16.0,2.2,144.0,Premium,Delivery from Collection Point,16.0,2.2,19.98
1274099,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1.0,0.0,0.0,0.0,1.0,8.0,2.2,258.0,Standard,Delivery from Collection Point,8.0,2.2,17.98
1274100,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.7,78.0,Premium,Delivery from Collection Point,0.0,2.7,11.96

In [23]:
df_customer = df_customer.drop(columns = ['QUALITY'])
df_customer = df_customer.drop(columns = ['DELIVERY_OPTION'])
df_customer.rename(columns={'BOX_ID': 'MODE_BOX_ID'}, inplace=True)
df_customer.rename(columns={'MILK': 'MODE_BOX_ID_MILK'}, inplace=True)
df_customer.rename(columns={'MEAT': 'MODE_BOX_ID_MEAT'}, inplace=True)
df_customer.rename(columns={'UNIT_PRICE': 'MODE_BOX_ID_UNIT_PRICE'}, inplace=True)

df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,2_2019_FIRST_15,LAST_MILK_PURCHASE,LAST_MEAT_PURCHASE,MODE_BOX_ID,MODE_BOX_ID_MILK,MODE_BOX_ID_MEAT,MODE_BOX_ID_UNIT_PRICE
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0.0,1.0,0.0,0.0,1.0,8.5,0.0,231.0,8.5,0.0,10.14
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1.0,0.0,0.0,0.0,0.0,10.0,1.8,260.0,10.0,1.8,17.98
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.9,27.0,0.0,2.9,15.96
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.5,246.0,0.0,2.5,13.96
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1.0,1.0,0.0,0.0,0.0,0.0,3.6,255.0,0.0,3.6,15.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274096,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0.0,0.0,0.0,0.0,1.0,10.0,1.5,126.0,10.0,1.5,15.98
1274097,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.4,76.0,0.0,2.4,11.96
1274098,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,16.0,2.2,144.0,16.0,2.2,19.98
1274099,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1.0,0.0,0.0,0.0,1.0,8.0,2.2,258.0,8.0,2.2,17.98
1274100,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,2.7,78.0,0.0,2.7,11.96

In [24]:
# Filter the DataFrame to include only dates in the first 15 days of October 2018
october_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2018) & 
                          (df['PURCHASE_DATE'].dt.month == 10) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

november_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2018) & 
                          (df['PURCHASE_DATE'].dt.month == 11) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

december_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2018) & 
                          (df['PURCHASE_DATE'].dt.month == 12) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

january_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2019) & 
                          (df['PURCHASE_DATE'].dt.month == 1) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

february_first_15_df = df[(df['PURCHASE_DATE'].dt.year == 2019) & 
                          (df['PURCHASE_DATE'].dt.month == 2) &
                          (df['PURCHASE_DATE'].dt.day <= 15)]

In [25]:
milk_october_first_15 = october_first_15_df.groupby('MAGIC_KEY')['MILK'].sum().reset_index()
milk_october_first_15.rename(columns={'MILK': 'MILK_10_2018_FIRST_15'}, inplace=True)

meat_october_first_15 = october_first_15_df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
meat_october_first_15.rename(columns={'MEAT': 'MEAT_10_2018_FIRST_15'}, inplace=True)


milk_november_first_15 = november_first_15_df.groupby('MAGIC_KEY')['MILK'].sum().reset_index()
milk_november_first_15.rename(columns={'MILK': 'MILK_11_2018_FIRST_15'}, inplace=True)

meat_november_first_15 = november_first_15_df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
meat_november_first_15.rename(columns={'MEAT': 'MEAT_11_2018_FIRST_15'}, inplace=True)


milk_december_first_15 = december_first_15_df.groupby('MAGIC_KEY')['MILK'].sum().reset_index()
milk_december_first_15.rename(columns={'MILK': 'MILK_12_2018_FIRST_15'}, inplace=True)

meat_december_first_15 = december_first_15_df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
meat_december_first_15.rename(columns={'MEAT': 'MEAT_12_2018_FIRST_15'}, inplace=True)


milk_january_first_15 = january_first_15_df.groupby('MAGIC_KEY')['MILK'].sum().reset_index()
milk_january_first_15.rename(columns={'MILK': 'MILK_1_2019_FIRST_15'}, inplace=True)

meat_january_first_15 = january_first_15_df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
meat_january_first_15.rename(columns={'MEAT': 'MEAT_1_2019_FIRST_15'}, inplace=True)


#milk_february_first_15 = february_first_15_df.groupby('MAGIC_KEY')['MILK'].sum().reset_index()
#milk_february_first_15.rename(columns={'MILK': 'MILK_2_2019_FIRST_15'}, inplace=True)

meat_february_first_15 = february_first_15_df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
meat_february_first_15.rename(columns={'MEAT': 'MEAT_2_2019_FIRST_15'}, inplace=True)



df_customer = pd.merge(df_customer, milk_october_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, meat_october_first_15, on='MAGIC_KEY', how='left')

df_customer = pd.merge(df_customer, milk_november_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, meat_november_first_15, on='MAGIC_KEY', how='left')

df_customer = pd.merge(df_customer, milk_december_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, meat_december_first_15, on='MAGIC_KEY', how='left')

df_customer = pd.merge(df_customer, milk_january_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, meat_january_first_15, on='MAGIC_KEY', how='left')

#df_customer = pd.merge(df_customer, milk_february_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, meat_february_first_15, on='MAGIC_KEY', how='left')


df_customer['MILK_10_2018_FIRST_15'] = df_customer['MILK_10_2018_FIRST_15'].fillna(0)
df_customer['MEAT_10_2018_FIRST_15'] = df_customer['MEAT_10_2018_FIRST_15'].fillna(0)

df_customer['MILK_11_2018_FIRST_15'] = df_customer['MILK_11_2018_FIRST_15'].fillna(0)
df_customer['MEAT_11_2018_FIRST_15'] = df_customer['MEAT_11_2018_FIRST_15'].fillna(0)

df_customer['MILK_12_2018_FIRST_15'] = df_customer['MILK_12_2018_FIRST_15'].fillna(0)
df_customer['MEAT_12_2018_FIRST_15'] = df_customer['MEAT_12_2018_FIRST_15'].fillna(0)

df_customer['MILK_1_2019_FIRST_15'] = df_customer['MILK_1_2019_FIRST_15'].fillna(0)
df_customer['MEAT_1_2019_FIRST_15'] = df_customer['MEAT_1_2019_FIRST_15'].fillna(0)

#df_customer['MILK_2_2019_FIRST_15'] = df_customer['MILK_2_2019_FIRST_15'].fillna(0)
df_customer['MEAT_2_2019_FIRST_15'] = df_customer['MEAT_2_2019_FIRST_15'].fillna(0)


df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,...,MODE_BOX_ID_UNIT_PRICE,MILK_10_2018_FIRST_15,MEAT_10_2018_FIRST_15,MILK_11_2018_FIRST_15,MEAT_11_2018_FIRST_15,MILK_12_2018_FIRST_15,MEAT_12_2018_FIRST_15,MILK_1_2019_FIRST_15,MEAT_1_2019_FIRST_15,MEAT_2_2019_FIRST_15
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0.0,1.0,0.0,0.0,...,10.14,0.0,0.0,0.0,2.4,0.0,0.0,0.0,0.0,0.0
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1.0,0.0,0.0,0.0,...,17.98,10.0,1.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,15.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,13.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1.0,1.0,0.0,0.0,...,15.96,10.0,1.8,0.0,3.6,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274096,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0.0,0.0,0.0,0.0,...,15.98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
1274097,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,11.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1274098,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,19.98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1274099,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1.0,0.0,0.0,0.0,...,17.98,10.0,1.8,0.0,0.0,0.0,0.0,0.0,0.0,2.2
1274100,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,11.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_october_first_15 = october_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_october_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_10_2018_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_november_first_15 = november_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_november_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_11_2018_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_december_first_15 = december_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_december_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_12_2018_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_january_first_15 = january_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_january_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_1_2019_FIRST_15']

# Group by 'MAGIC_KEY' and sum the 'PURCHASE_DATE' column for each group
total_purchase_february_first_15 = february_first_15_df.groupby('MAGIC_KEY')['PURCHASE_DATE'].count().reset_index()
total_purchase_february_first_15.columns = ['MAGIC_KEY', 'T_PURCHASE_2_2019_FIRST_15']


df_customer = pd.merge(df_customer, total_purchase_october_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_november_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_december_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_january_first_15, on='MAGIC_KEY', how='left')
df_customer = pd.merge(df_customer, total_purchase_february_first_15, on='MAGIC_KEY', how='left')

df_customer['T_PURCHASE_10_2018_FIRST_15'] = df_customer['T_PURCHASE_10_2018_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_11_2018_FIRST_15'] = df_customer['T_PURCHASE_11_2018_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_12_2018_FIRST_15'] = df_customer['T_PURCHASE_12_2018_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_1_2019_FIRST_15'] = df_customer['T_PURCHASE_1_2019_FIRST_15'].fillna(0)
df_customer['T_PURCHASE_2_2019_FIRST_15'] = df_customer['T_PURCHASE_2_2019_FIRST_15'].fillna(0)

df_customer

,MAGIC_KEY,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15,...,MILK_12_2018_FIRST_15,MEAT_12_2018_FIRST_15,MILK_1_2019_FIRST_15,MEAT_1_2019_FIRST_15,MEAT_2_2019_FIRST_15,T_PURCHASE_10_2018_FIRST_15,T_PURCHASE_11_2018_FIRST_15,T_PURCHASE_12_2018_FIRST_15,T_PURCHASE_1_2019_FIRST_15,T_PURCHASE_2_2019_FIRST_15
0,249670911D8,2,24.10,2019-02-02,27 days,93 days 00:00:00,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,249751FC4DD,1,17.98,2018-10-12,140 days,0 days 00:00:00,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,24978027606,1,15.96,2018-10-19,133 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,24979164422,1,13.96,2018-11-30,91 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2497B8B4FDA,2,33.94,2018-11-01,120 days,29 days 00:00:00,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274096,2E6F72C6F1C,3,51.94,2019-02-27,2 days,64 days 12:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,1.0
1274097,2E6F8194908,1,11.96,2019-02-23,6 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1274098,2E6F9C7B9B4,1,19.98,2019-01-28,32 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1274099,2E6FB0EBB32,6,107.88,2019-02-11,18 days,26 days 14:24:00,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.2,1.0,0.0,0.0,0.0,1.0
1274100,2E6FBE224FA,1,11.96,2019-02-20,9 days,0 days 00:00:00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
df_customer.to_csv("train_final.csv", index=False)  # Save test data