In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('Datasets/train_df.csv')

In [3]:
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE
0,2019-01-01,2BE4ABE1D99,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
1,2019-01-01,2BF0F5D1852,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
2,2019-01-01,2CA3A78FEA9,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
3,2019-01-01,2C2A89A5F22,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
4,2019-01-01,2C586661A56,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98,Y
...,...,...,...,...,...,...,...,...,...,...
1867901,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,N
1867902,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98,N
1867903,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98,N
1867904,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98,N
1867905,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96,N

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867906 entries, 0 to 1867905
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   PURCHASE_DATE    object
 1   MAGIC_KEY        object
 2   BOX_ID           float64
 3   BOX_COUNT        float64
 4   QUALITY          object
 5   DELIVERY_OPTION  object
 6   MILK             float64
 7   MEAT             float64
 8   UNIT_PRICE       float64
 9   PURCHASE         object
dtypes: float64(5), object(5)
memory usage: 142.5+ MB

In [5]:
df['PURCHASE_DATE'] = pd.to_datetime(df['PURCHASE_DATE'])

# <font color="red">We need to create a new datasets with customer behaviour</font>

In [6]:
df_customer = pd.read_csv('Datasets/df_customer_train.csv')

In [7]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048936 entries, 0 to 1048935
Data columns (total 10 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   MAGIC_KEY                1048936 non-null  object
 1   PURCHASE_COUNT           1048936 non-null  int64
 2   TOTAL_AMOUNT_SPENT       1048936 non-null  float64
 3   LAST_PURCHASE_DATE       1048936 non-null  object
 4   DAY_SINCE_LAST_PURCHASE  1048936 non-null  object
 5   AVERAGE_DIFF             1048936 non-null  object
 6   10_2018_FIRST_15         1048936 non-null  int64
 7   11_2018_FIRST_15         1048936 non-null  int64
 8   12_2018_FIRST_15         1048936 non-null  int64
 9   1_2019_FIRST_15          1048936 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 80.0+ MB

In [8]:
df_customer['LAST_PURCHASE_DATE'] = pd.to_datetime(df_customer['LAST_PURCHASE_DATE'])
df_customer['DAY_SINCE_LAST_PURCHASE'] = pd.to_timedelta(df_customer['DAY_SINCE_LAST_PURCHASE'])
df_customer['AVERAGE_DIFF'] = pd.to_timedelta(df_customer['AVERAGE_DIFF'])

In [9]:
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048936 entries, 0 to 1048935
Data columns (total 10 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   MAGIC_KEY                1048936 non-null  object
 1   PURCHASE_COUNT           1048936 non-null  int64
 2   TOTAL_AMOUNT_SPENT       1048936 non-null  float64
 3   LAST_PURCHASE_DATE       1048936 non-null  datetime64[ns]
 4   DAY_SINCE_LAST_PURCHASE  1048936 non-null  timedelta64[ns]
 5   AVERAGE_DIFF             1048936 non-null  timedelta64[ns]
 6   10_2018_FIRST_15         1048936 non-null  int64
 7   11_2018_FIRST_15         1048936 non-null  int64
 8   12_2018_FIRST_15         1048936 non-null  int64
 9   1_2019_FIRST_15          1048936 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1), timedelta64[ns](2)
memory usage: 80.0+ MB

In [10]:
df_customer.describe()

,PURCHASE_COUNT,TOTAL_AMOUNT_SPENT,LAST_PURCHASE_DATE,DAY_SINCE_LAST_PURCHASE,AVERAGE_DIFF,10_2018_FIRST_15,11_2018_FIRST_15,12_2018_FIRST_15,1_2019_FIRST_15
count,1.048936e+06,1.048936e+06,1048936,1048936,1048936,1.048936e+06,1.048936e+06,1.048936e+06,1.048936e+06
mean,1.780763e+00,3.172872e+01,2018-12-16 09:45:31.444434432,46 days 14:14:28.555564877,15 days 13:47:46.814532808,2.090080e-01,2.156051e-01,2.125840e-01,2.531584e-01
min,1.000000e+00,9.960000e+00,2018-10-01 00:00:00,1 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,1.596000e+01,2018-11-18 00:00:00,17 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000e+00,2.398000e+01,2018-12-28 00:00:00,35 days 00:00:00,0 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+00,4.388000e+01,2019-01-15 00:00:00,75 days 00:00:00,30 days 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,4.000000e+01,4.872000e+02,2019-01-31 00:00:00,123 days 00:00:00,122 days 00:00:00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
std,1.192316e+00,2.274301e+01,NaN,35 days 18:30:11.502481044,21 days 20:52:46.659516471,4.066003e-01,4.112417e-01,4.091359e-01,4.348211e-01

In [ ]:
october_2018_last_15 = df.groupby('MAGIC_KEY')['PURCHASE_DATE'].apply(
    lambda x: 1 if ((x.dt.month == 10) & (x.dt.day > 15) & (x.dt.year == 2018)).any() else 0
).reset_index(name='10_2018_LAST_15')

# Display the result DataFrame
october_2018_last_15

In [ ]:
df_customer = pd.merge(df_customer, october_2018_last_15, on='MAGIC_KEY')
df_customer

In [ ]:
november_2018_last_15 = df.groupby('MAGIC_KEY')['PURCHASE_DATE'].apply(
    lambda x: 1 if ((x.dt.month == 11) & (x.dt.day > 15) & (x.dt.year == 2018)).any() else 0
).reset_index(name='11_2018_LAST_15')

# Display the result DataFrame
november_2018_last_15

In [ ]:
df_customer = pd.merge(df_customer, november_2018_last_15, on='MAGIC_KEY')
df_customer

In [ ]:
december_2018_last_15 = df.groupby('MAGIC_KEY')['PURCHASE_DATE'].apply(
    lambda x: 1 if ((x.dt.month == 12) & (x.dt.day > 15) & (x.dt.year == 2018)).any() else 0
).reset_index(name='12_2018_LAST_15')

# Display the result DataFrame
december_2018_last_15

In [ ]:
df_customer = pd.merge(df_customer, december_2018_last_15, on='MAGIC_KEY')
df_customer

In [ ]:
january_2018_last_15 = df.groupby('MAGIC_KEY')['PURCHASE_DATE'].apply(
    lambda x: 1 if ((x.dt.month == 1) & (x.dt.day > 15) & (x.dt.year == 2019)).any() else 0
).reset_index(name='1_2019_LAST_15')

# Display the result DataFrame
january_2018_last_15

In [ ]:
df_customer = pd.merge(df_customer, january_2018_last_15, on='MAGIC_KEY')
df_customer

In [ ]:
df_customer.to_csv("df_customer_train2.csv", index=False)  # Save test data