In [1]:
import pandas as pd

In [2]:
test_df = pd.read_csv('Datasets/test_df.csv')
train_df = pd.read_csv('Datasets/train_df.csv')

In [3]:
len(train_df)

1867906

In [4]:
len(test_df)

587817

In [5]:
train_df['MAGIC_KEY'].nunique()

1048936

In [6]:
test_df['MAGIC_KEY'].nunique()

558654

In [8]:
new_train_df = train_df.groupby('MAGIC_KEY')['PURCHASE'].apply(lambda x: 1 if (x == 'Y').any() else 0).reset_index()

In [9]:
new_test_df = test_df.groupby('MAGIC_KEY')['PURCHASE'].apply(lambda x: 1 if (x == 'Y').any() else 0).reset_index()

In [10]:
len(new_train_df)

1048936

In [11]:
len(new_test_df)

558654

In [13]:
merged_df = pd.merge(new_test_df, new_train_df, on='MAGIC_KEY', how='inner')

In [14]:
len(merged_df)

333503

In [15]:
merged_df

          MAGIC_KEY  PURCHASE_x  PURCHASE_y
0       249670911D8           1           1
1       2497E36D1BF           1           1
2       2498CA210F2           1           1
3       249BD4201E6           1           1
4       249C911B64A           0           1
...             ...         ...         ...
333498  2E6EA6209A6           1           1
333499  2E6EC555AF6           1           1
333500  2E6F53ECC13           0           0
333501  2E6F72C6F1C           1           0
333502  2E6FB0EBB32           1           1

[333503 rows x 3 columns]

In [20]:
new_test_df.loc[(new_test_df.MAGIC_KEY == '2E6F53ECC13')]

          MAGIC_KEY  PURCHASE
558649  2E6F53ECC13         0

In [21]:
merged_df = merged_df.drop(columns=['PURCHASE_y'])

In [22]:
merged_df

          MAGIC_KEY  PURCHASE_x
0       249670911D8           1
1       2497E36D1BF           1
2       2498CA210F2           1
3       249BD4201E6           1
4       249C911B64A           0
...             ...         ...
333498  2E6EA6209A6           1
333499  2E6EC555AF6           1
333500  2E6F53ECC13           0
333501  2E6F72C6F1C           1
333502  2E6FB0EBB32           1

[333503 rows x 2 columns]

In [23]:
merged_df = merged_df.rename(columns={'PURCHASE_x': 'PURCHASE'})

In [24]:
merged_df

          MAGIC_KEY  PURCHASE
0       249670911D8         1
1       2497E36D1BF         1
2       2498CA210F2         1
3       249BD4201E6         1
4       249C911B64A         0
...             ...       ...
333498  2E6EA6209A6         1
333499  2E6EC555AF6         1
333500  2E6F53ECC13         0
333501  2E6F72C6F1C         1
333502  2E6FB0EBB32         1

[333503 rows x 2 columns]

In [25]:
merged_df.to_csv("test.csv", index=False)  # Save test data