In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Common Datasets/test_df.csv')
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,Y
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98,Y
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96,Y
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96,Y
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96,Y
...,...,...,...,...,...,...,...,...,...,...
587812,2019-02-28,29297E13B54,230.0,1.0,Standard,Delivery from Collection Point,8.4,0.0,10.14,N
587813,2019-02-28,290C724C608,230.0,1.0,Standard,Delivery from Collection Point,8.4,0.0,10.14,N
587814,2019-02-28,2CA058DD127,80.0,1.0,Premium,Delivery from Collection Point,0.0,2.9,11.96,N
587815,2019-02-28,2BD66E46EB5,77.0,1.0,Premium,Delivery from Collection Point,0.0,2.5,11.96,N
587816,2019-02-28,2C3ADAE8795,77.0,1.0,Premium,Delivery from Collection Point,0.0,2.5,11.96,N

In [3]:
df = df.drop(columns = ['PURCHASE'])
df['PURCHASE_DATE'] = pd.to_datetime(df['PURCHASE_DATE'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587817 entries, 0 to 587816
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PURCHASE_DATE    587817 non-null  datetime64[ns]
 1   MAGIC_KEY        587817 non-null  object
 2   BOX_ID           587817 non-null  float64
 3   BOX_COUNT        587817 non-null  float64
 4   QUALITY          587817 non-null  object
 5   DELIVERY_OPTION  587817 non-null  object
 6   MILK             587817 non-null  float64
 7   MEAT             587817 non-null  float64
 8   UNIT_PRICE       587817 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 40.4+ MB

In [5]:
df = df[df['PURCHASE_DATE'].dt.day <= 15]
df = df[df['BOX_COUNT'] <= 1]
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
297036,2019-02-15,2C998B122B1,23.0,1.0,Premium,Home Delivery - CoD,0.0,2.4,13.96
297037,2019-02-15,2C1C22E43D5,80.0,1.0,Premium,Delivery from Collection Point,0.0,2.9,11.96
297038,2019-02-15,28FE30D9AF3,246.0,1.0,Standard,Delivery from Collection Point,0.0,2.5,13.96
297039,2019-02-15,28D27B1698C,213.0,1.0,Standard,Home Delivery - CoD,0.0,3.6,15.96
297040,2019-02-15,28DEFB84783,238.0,1.0,Standard,Delivery from Collection Point,10.7,0.0,12.78

In [6]:
df['MAGIC_KEY'].nunique()

294150

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 296882 entries, 0 to 297040
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PURCHASE_DATE    296882 non-null  datetime64[ns]
 1   MAGIC_KEY        296882 non-null  object
 2   BOX_ID           296882 non-null  float64
 3   BOX_COUNT        296882 non-null  float64
 4   QUALITY          296882 non-null  object
 5   DELIVERY_OPTION  296882 non-null  object
 6   MILK             296882 non-null  float64
 7   MEAT             296882 non-null  float64
 8   UNIT_PRICE       296882 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 22.7+ MB

In [8]:
duplicates =  df[df['MAGIC_KEY'].duplicated(keep='first')] #it will return the duplicated row from the datasets
duplicates

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
4636,2019-02-01,28DE6C00D80,258.0,1.0,Standard,Delivery from Collection Point,8.0,2.2,17.98
5336,2019-02-01,2CFAFADFF15,31.0,1.0,Premium,Home Delivery - CoD,8.0,1.3,15.98
6893,2019-02-01,2C28B10A557,134.0,1.0,Premium,Delivery from Collection Point,10.0,1.8,19.98
6968,2019-02-01,2CBD6C93329,174.0,1.0,Premium,Delivery from Collection Point,18.0,2.9,23.98
11353,2019-02-01,28E1A2F93F4,237.0,1.0,Standard,Delivery from Collection Point,10.2,0.0,12.18
...,...,...,...,...,...,...,...,...,...
296913,2019-02-15,2BCA141DD2D,103.0,1.0,Premium,Delivery from Collection Point,0.0,4.0,15.96
296941,2019-02-15,2CC77FBAD4D,144.0,1.0,Premium,Delivery from Collection Point,16.0,2.2,19.98
296952,2019-02-15,2BCE5BEF370,90.0,1.0,Premium,Delivery from Collection Point,10.5,0.0,12.78
296969,2019-02-15,28F09FF728C,200.0,1.0,Standard,Home Delivery - CoD,8.4,0.0,10.14
297023,2019-02-15,2C86AC56876,90.0,1.0,Premium,Delivery from Collection Point,10.5,0.0,12.78

In [9]:
filtered_df = df[~df['MAGIC_KEY'].isin(duplicates['MAGIC_KEY'])]
filtered_df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
297036,2019-02-15,2C998B122B1,23.0,1.0,Premium,Home Delivery - CoD,0.0,2.4,13.96
297037,2019-02-15,2C1C22E43D5,80.0,1.0,Premium,Delivery from Collection Point,0.0,2.9,11.96
297038,2019-02-15,28FE30D9AF3,246.0,1.0,Standard,Delivery from Collection Point,0.0,2.5,13.96
297039,2019-02-15,28D27B1698C,213.0,1.0,Standard,Home Delivery - CoD,0.0,3.6,15.96
297040,2019-02-15,28DEFB84783,238.0,1.0,Standard,Delivery from Collection Point,10.7,0.0,12.78

In [10]:
filtered_df['MAGIC_KEY'].nunique()

291721

In [11]:
test_df = filtered_df[['MAGIC_KEY', 'BOX_ID']].copy()
test_df

          MAGIC_KEY  BOX_ID
0       2CED678A247    12.0
1       2BF58D91BA1    12.0
2       2C15B86534E    99.0
3       2C32D9A859A     6.0
4       2C7A55404D1     4.0
...             ...     ...
297036  2C998B122B1    23.0
297037  2C1C22E43D5    80.0
297038  28FE30D9AF3   246.0
297039  28D27B1698C   213.0
297040  28DEFB84783   238.0

[291721 rows x 2 columns]

In [12]:
df_train = pd.read_csv('../Datasets/train2.csv')
df_train

,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2BF0F5D1852,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
1,2CA3A78FEA9,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
2,2C586661A56,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
3,2C1C97E4EC4,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
4,2C463B5FB4C,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
...,...,...,...,...,...,...,...,...
446102,2CC607FAE25,106.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,15.96
446103,2BE6DC4FF9D,134.0,1.0,Premium,Delivery from Collection Point,10.0,1.8,19.98
446104,2C60F8DFD12,106.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,15.96
446105,2A0970C954B,231.0,1.0,Standard,Delivery from Collection Point,8.5,0.0,10.14
446106,2C8EFB5A32D,27.0,1.0,Premium,Home Delivery - CoD,0.0,2.9,15.96

In [13]:
train_df = df_train[['MAGIC_KEY', 'BOX_ID']].copy()
train_df

          MAGIC_KEY  BOX_ID
0       2BF0F5D1852   162.0
1       2CA3A78FEA9   162.0
2       2C586661A56   162.0
3       2C1C97E4EC4   162.0
4       2C463B5FB4C   162.0
...             ...     ...
446102  2CC607FAE25   106.0
446103  2BE6DC4FF9D   134.0
446104  2C60F8DFD12   106.0
446105  2A0970C954B   231.0
446106  2C8EFB5A32D    27.0

[446107 rows x 2 columns]

In [14]:
merged_df = pd.merge(test_df, train_df, on='MAGIC_KEY', how='inner')

In [15]:
len(merged_df)

69669

In [16]:
merged_df

         MAGIC_KEY  BOX_ID_x  BOX_ID_y
0      2955110718F     238.0     233.0
1      2C8636FC9B1      80.0      78.0
2      2CCA8BBF9F8      80.0      78.0
3      2BF7A8F68A8       8.0       8.0
4      2BE010F5FC8       8.0       8.0
...            ...       ...       ...
69664  2BF8AD2D6A2     119.0     118.0
69665  2BD71F1F17A     118.0     118.0
69666  2CC79B51851     118.0     118.0
69667  2C4DED6781E     118.0     108.0
69668  2CFF6B307D7      90.0      89.0

[69669 rows x 3 columns]

In [17]:
test = merged_df[['MAGIC_KEY', 'BOX_ID_x']].copy()

In [18]:
test = test.rename(columns={'BOX_ID_x': 'BOX_ID'})

In [19]:
test

         MAGIC_KEY  BOX_ID
0      2955110718F   238.0
1      2C8636FC9B1    80.0
2      2CCA8BBF9F8    80.0
3      2BF7A8F68A8     8.0
4      2BE010F5FC8     8.0
...            ...     ...
69664  2BF8AD2D6A2   119.0
69665  2BD71F1F17A   118.0
69666  2CC79B51851   118.0
69667  2C4DED6781E   118.0
69668  2CFF6B307D7    90.0

[69669 rows x 2 columns]

In [20]:
test.to_csv("test2.csv", index=False)  # Save test data